<div class="contenedor">  
<div class="row">
    <h1>Proyectos</h1>
    <div class="ficha">
        <h3>Nombre del proyecto</h3>
        <div>
           <img src="" alt="Imagen de Proyecto">
           <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, vel nihil perferendis tempora, id repudiandae pariatur sunt recusandae minima incidunt animi, laudantium quasi amet error possimus soluta libero sapiente voluptas.</p>
        </div>
    </div>
    </div>
</div>
</div>
