img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 200px;
}

.col-4{
    text-align: center;
    position: block;
    z-index: 2;
    margin-top: -100px;
}

.nombre {
    margin-top: 15px;
}

#titulo {
    font-style: italic;
    font-weight: 300;
}
h1, p {
    margin-bottom: 0;
}

.col-8 {
    margin-top: 50px;
}