<div class="contenedor">
  <div class="row">
    <div class="col-4 position-relative">
        <div id="contenedor-fotoPerfil">
        <img
          src="../../../assets/img/foto.png"
          alt="Foto de perfil de desarrolladora"
          class="img-fluid position-absolute translate-middle"
          id="fotoPerfil"
        />
    </div>
      <div>
        <h1>Lucía Sánchez</h1>
        <p id="titulo">Full Stack Developer Jr.</p>
      </div>
    </div>
    <div class="col-8"> 
        <h2>Acerca de mí</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
          explicabo totam doloremque fugiat molestias consequatur aspernatur
          exercitationem quis, odio dolore alias, corrupti necessitatibus,
          aliquid provident soluta. Reprehenderit quisquam exercitationem modi.
        </p>

    </div>
  </div>
</div>
