img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 80%;
    border: 2px solid #ffffff;
}

#contenedor-foto {
    position: relative;
    top: -100px;
}

@media screen and (max-width: 920px) {
    #contenedor-foto {
        position: relative;
        top: -90px;
    }
}
@media screen and (max-width: 768px) {
    #contenedor-foto {
        position: relative;
        top: -85px;
    }
    img {
        width: 35%;
    }
    h2, p {
        text-align: center;
    }
}


h1, p {
    margin-bottom: 0;
}

.row {
    display: flex;
    align-items: center;
}