  <section class="row">
    <div class="col-lg-4 col-md-4 text-center" id="contenedor-foto">
        <div>
        <img
          src="../../../assets/img/foto.png"
          alt="Foto de perfil de desarrolladora"
        />
    </div>
      <div>
        <h1>Lucía Sánchez</h1>
        <p>Full Stack Developer Jr.</p>
      </div>
    </div>
    <div class="col-lg-8 col-md-8"> 
        <h2>Acerca de mí</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur
          explicabo totam doloremque fugiat molestias consequatur aspernatur
          exercitationem quis, odio dolore alias, corrupti necessitatibus,
          aliquid provident soluta. Reprehenderit quisquam exercitationem modi.
        </p>

    </div>
  </section>
