img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contenedor {
    padding: 5%;
}

h1, #titulo {
    text-align: center;
}

/* #contenedor-fotoPerfil {
    display: flex;
    justify-content: center;
}
.position-relative {
    top: -100px
} */