<nav>
    <div>
        <div class="row">
          <div class="col">
            <img src="../../../assets/img/logo-ap.png" alt="Logo de Argentina Programa">
<p>Argentina <br>Programa</p><p> #YoProgramo</p>
          </div>
          <div class="col justify-content-end">
            <a href="https://www.linkedin.com/in/lucia-sanchez-editora-maquetadora/"><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href="https://github.com/Sanchez-Lucia" target="_blank"><i class="bi bi-github"></i></a>
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <button type="button" class="btn btn-success">Login</button>
          </div>
        </div>
    </div>
</nav>