<nav>
    <div class="container">
        <div class="row">
          <div class="col">
            <img class="d-inline" src="../../../assets/img/logo-ap-bco.png" alt="Logo de Argentina Programa">
<p class="d-inline">"Argentina Programa" #YoProgramo</p>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <a href=""><i class="bi bi-linkedin"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-github"></i></a>
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
          </div>
        </div>
    </div>
</nav>