img {
    height: 50px;
}

.col {
    display: flex;
    align-items: center;
}

nav {
    padding: 10px 0;
}

i {
    font-size: 25px;
    margin: 0 8px;
}


button {
    margin-left: 10px;
}

p {
    font-weight: 600;
    line-height: 1.4;
    margin: 0 10px;
}
