<article class="d-flex">
  <div class="row">
  <div class="col-3">
    <img id="logo" src="../../../assets/img/logo-ee.png" alt="" />
  </div>
    <div class="col-9">
    <h3 class="d-inline-flex" id="trabajo">Trabajo</h3> - 
    <p class="d-inline-flex" id="fecha" >(year)</p>
    <p id="descripcion">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure commodi
      sint corrupti impedit labore est quia minima voluptas dicta distinctio
      exercitationem, sapiente excepturi? Ullam molestiae illo officiis
      reprehenderit facere?
    </p>
  </div>
</div>
</article>
