<article class="row">
  <div class="col-lg-3 col-md-3 col-sm-4 text-center">
    <img src="../../../assets/img/logo-ee.png" alt="Logo de editorial estudio" />
  </div>
    <div class="col-lg-9 col-md-9 col-sm-8">
    <h3>Trabajo</h3> 
    <p>(year)</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iure commodi
      sint corrupti impedit labore est quia minima voluptas dicta distinctio
      exercitationem, sapiente excepturi? Ullam molestiae illo officiis
      reprehenderit facere?
    </p>
  </div>
</article>
